.header.space-top {
  margin: 5em 0 0.5em 0 !important;
  text-align: center;
}

body {
  background-color: #DADADA;
}
body > .grid {
  height: 100%;
}
.login-header {
  margin-top: 100px;
}
.column.login {
  max-width: 450px;
}
