<!DOCTYPE html>
<html>
  <head>
    <title>ToDo Fancy VNX</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <script>
    if(!localStorage.getItem('accesstokentodo')){
      window.location.replace("http://todo.bhinfinix.com/login.html")
    }
    </script>
  </head>
    <body>
      <div id="vnx">
        <div class="ui grid centered">
          <div class="ten wide column">
            <div class="ui header space-top">
              <h1>TODO Fancy VNX</h1>
            </div>
            <div class="ui container">
              <div class="ui pointing menu stackable">
                <a id="incomplete" class="active item" @click="showIncomplete">
                  Incomplete Task
                </a>
                <a id="completed" class="item" @click="showCompleted">
                  Completed Task
                </a>
                <div class="right menu">
                  <div class="item">
                    Halo, {{fullname}}
                  </div>
                  <a class="item" @click="logout">
                    Logout
                  </a>
                </div>
              </div>
              <div class="ui segment">
                <div class="ui dropdown">
                  <div class="text">Option</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item" @click="setTaskCompleted">
                      <i class="checkmark box icon"></i>
                      <span id="buttonAction">Completed</span>
                    </div>
                    <div class="item" @click="deleteTask">
                      <i class="trash icon"></i>
                      Move to trash
                    </div>
                    <div class="divider"></div>
                    <div class="item">
                      <i class="download icon"></i>
                      Download As PDF
                    </div>
                  </div>
                </div>
                <div class="divider"></div>
                <div class="ui segment">
                  <div class="ui action input right aligned fluid">
                    <input placeholder="Add New Task" type="text" v-model="newTask">
                    <button class="ui button blue" @click="newTaskSave">Add Task</button>
                  </div>
                  <table class="ui table">
                    <tbody>
                      <div class="ui relaxed divided list" v-if="showTask == false">
                        <task-list v-for="(task,i) in taskListIn" :key="i" :task_list="task" v-on:selected-task="addSelectTask($event)"/>
                      </div>
                      <div class="ui relaxed divided list" v-else>
                        <task-list v-for="(task,i) in taskListCom" :key="i" :task_list="task" v-on:selected-task="addSelectTask($event)"/>
                      </div>
                    </tbody>
                    <tfoot>
                      <tr></tr>
                      <tr>
                        <td class="right aligned">
                          <div class="ui label blue">
                            Task
                            <div class="detail">{{taskListIn.length}}</div>
                          </div>
                          <div class="ui label blue">
                            Completed
                            <div class="detail">{{taskListCom.length}}</div>
                          </div>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui basic modal">
          <div class="ui active dimmer">
            <div class="ui loader"></div>
          </div>
        </div>
      </div>

      <script src="https://unpkg.com/vue"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
      <script src="/assets/js/vue/vue-task.js"></script>
      <script src="/assets/js/vue/vue-parent.js"></script>
      <script src="/assets/js/script.js"></script>
    </body>
</html>
